section>span{
    padding-left: 10px;
    font-size: 26px;
    color: rgb(49, 137, 129) ;
    font-weight: 800;
    margin-top: 0px;
    padding-top: 0px;
}

section{
     margin-top: 10%;
     margin-bottom:0%;
}